<template>
    <q-page class="flex flex-center">
      <div
        class="q-pa-md row justify-center q-size-lg"
        style="overflow-x: auto"
      >
        <q-card
          class="my-card"
          style="max-width:900px; width: 100%;"
          v-if="rows.length"
        >
          <q-card-section>
            <q-table
              title="Treats"
              :rows="items"
              :columns="columns"
              row-key="name"
            />
          </q-card-section>
        </q-card>
      </div>
    </q-page>
</template>

<script>
import { defineComponent, inject, computed } from "vue";
import { mainStore } from "stores/main";

const columns = [
  {
    name: 'name',
    required: true,
    label: 'Dessert (100g serving)',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true },
  { name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
  { name: 'carbs', label: 'Carbs (g)', field: 'carbs' },
  { name: 'protein', label: 'Protein (g)', field: 'protein' },
  { name: 'sodium', label: 'Sodium (mg)', field: 'sodium' },
  { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
]

export default defineComponent({
  name: "IndexPage",
  setup() {

    const search = inject('search');

    const store  = mainStore();
    store.apiGetItems()

    const rows = computed(() => {
      return store.getRows;
    })

    const items = computed(() => {
      if(!rows.value) return []

      return rows.value.reduce((accumulator, currentValue) => {
        const { name } = currentValue;
        if( name.toLowerCase().includes(search.value.toLowerCase())){
          accumulator.push(currentValue)
        }
        return accumulator
      }, [])

      return []
    })

    return {
      columns,
      search,
      items,
      rows,
    }
  }
});
</script>
