<template>
  <q-page-container>
    <q-page class="q-pa-md">
      <div class="q-pa-md row justify-center q-size-lg" style="height: 100%">
        <q-card class="my-card" style="max-width: 600px; width: 100%">
          <q-card-section>
            <h4 class="text-center q-my-auto q-pb-lg" >Авторизація</h4>
            <q-form
              @submit="send"
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="name"
                autocomplete="username"
                label="Введііть ваше ім'я"
                lazy-rules
                :rules="[ val => val && val.length > 3 || 'Веше імя не повинне бути менше 3-х символів']"
              ></q-input>
              <q-input
                v-model="password"
                autocomplete="current-password"
                filled
                label="Введііть ваше пароль"
                :type="isPwd ? 'password' : 'text'"
                :rules="[ val => val && val.length > 6 || 'Пароль не має бути менше 6 символів']"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  ></q-icon>
                </template>
              </q-input>
              <div>
                <q-btn
                  label="Увійти"
                  type="submit"
                  color="primary"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import { ref } from "vue";
import { mapActions } from "pinia/dist/pinia";
import { mainStore } from "stores/main";
const LOCAL_TOKEN = process.env.VUE_LOCAL_TOKEN;


export default {
  name: "LoginPage",
  setup(){
    const name = ref('');
    const password = ref('');
    const isPwd = ref(true);

    return{
      name,
      password,
      isPwd
    }
  },
  methods:{
    ...mapActions(mainStore, {
      setLoading: 'setLoading',
      apiAuthorization: 'apiAuthorization'
    }),
    async send(){
      const res = await this.apiAuthorization();
      const { success, token } = res;

      if(!success) {
        await this.triggerNegative('Неможливо авторизуватись!');
        return;
      }

      if(token === '' || token !== LOCAL_TOKEN) {
        await this.triggerNegative('Не вірний ключь');
        return;
      }
      localStorage.setItem('token', token);
      this.$router.push('/');

    },

    async triggerNegative (text = 'Щось пішло не так !') {
      await this.$q.notify({
        type: 'warning',
        message: text,
        position: 'top'
      })
    },
  }
};
</script>

<style scoped>

</style>
