<template>
  <q-layout view="lHh Lpr lFf" class="layout">
    <component v-if="component" :is="`${component}-layout`"/>
    <q-footer elevated>
      <q-toolbar>
        <q-toolbar-title>Footer</q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
  <q-inner-loading
    :showing="loading"
    dark
    color="primary"
    label="Будьласка зачекайте..."
    label-class="text-teal-1"
    label-style="font-size: 1.1em"
  ></q-inner-loading>
</template>

<script>
import { defineComponent } from "vue";

import AuthLayout from '../src/layouts/AuthLayout.vue'
import MainLayout from '../src/layouts/MainLayout.vue'
import { mapState } from 'pinia'
import { mainStore } from '../src/stores/main.js'


export default defineComponent({
  name: "App",
  computed:{
    ...mapState(mainStore, {
      loading: 'loading'
    }),
    component(){
      return this.$route.meta.layout || ''
    }
  },
  components: {
    AuthLayout,
    MainLayout
  }
});
</script>

<style scoped lang="scss">
  .layout{
    background-image: url('assets/images/material.png');
    background-size: cover;
    background-position: center;
  }
</style>
