<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
        </q-avatar>
        <q-toolbar-title>Vue 3</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <router-view />
  </q-layout>
</template>
<script>
 export default {
   name: "AuthLayout",
 }
</script>

