<template>
  <q-page-container>
      <q-layout view="lHh Lpr lFf">
      <q-header elevated>
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="toggleLeftDrawer"
          />

          <q-toolbar-title class="row col-auto"> Quasar App </q-toolbar-title>
          <q-input
            outlined
            bottom-slots
            label="Пошук"
            class="q-py-sm"
            dense
            bg-color="blue-3"
            hide-bottom-space
            rounded
            item-aligned
            v-model="search"
          >
            <template v-slot:append>
              <q-icon name="search"></q-icon>
            </template>
          </q-input>
          <q-space></q-space>
          <div>Quasar v{{ $q.version }}</div>
        </q-toolbar>
      </q-header>

      <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
        <q-list>
          <q-item-label header> Основні посилання </q-item-label>

          <EssentialLink
            v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link"
          />
          <q-item clickable tag="a" @click="goOut">
            <q-item-section avatar>
              <q-icon name="logout" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Вийти</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>
        <router-view />
    </q-layout>
    </q-page-container>
</template>

<script>

import { defineComponent, ref, provide } from "vue";
import { useRouter } from "vue-router";
import EssentialLink from "components/EssentialLink.vue";

const linksList = [
  {
    title: "Головна",
    caption: "Інформація",
    icon: "home",
    link: "/",
  },
  {
    title: "Авторизація",
    caption: "Форма",
    icon: "fingerprint",
    link: "/login",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const router = useRouter();
    const search = ref('')
    provide('search', search);

    const goOut = () => {
      localStorage.removeItem('token');
      router.push('/login');
    }

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      search,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      goOut,
    };
  },
});
</script>
